<div class="product-page product-box product-show">
  <div class="wrapper background-blue">
    <div class="header">
      <div class="container">
        <div class="row">

          <div class="show-page detail mt20 w1200 bc pb50">
            <div class="intro clearfix">
            <div class="cover fl">

              <!-- 商品小图 --->
                <div class="intro-bigPic border pr">
                  <div class="magnifier-preview border" id="preview"></div>
                  <% if @photos.present? %>
                      <!-- <a class="magnifier-thumb-wrapper" href="javascript:;"> -->
                        <img
                          id="thumb"
                          src="<%= @photos.first.avatar.medium.url %>"
                          data-large-img-wrapper="preview"
                          data-large-img-url="<%= @photos.first.avatar.medium.url %>">

                  <% end %>
                </div>
                <!-- 商品大图 -->
              <ul class="intro-preview clearfix">
                <% if @photos.present? %>
                 <% @photos.each_with_index do |p, index| %>
                   <% if index == 0 %>
                      <li class="border intro-preview-item intro-preview-activeItem fl">

                   <% else %>
                      <li class="border intro-preview-item fl">
                   <% end %>

                   <% if index < 5 %>
                     <%= image_tag p.avatar.medium.url %>
                <% end %>
                     </li>
                <% end %>
               <% end %>
             </ul>
           </div>
         </div>
       </div>
          <!-- <div class="col-md-6">
            <% if @product.image.present? %>
            <%= image_tag(@product.image.origin.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/720x540&text=No Pic", class: "thumbnail") %>
            <% end %>
          </div>

          <% if @photos.present? %>
            <% @photos.each_with_index do |p, index| %>
              <% if index == 0 %>
                <%= image_tag p.avatar.medium.url %>
                <div style="letter-spacing: -8px">
              <% else %>
                <%= image_tag p.avatar.thumb.url %>
              <% end %>
            <% end %>
          </div>
          <% else %>
            <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
          <% end %> -->

          <div class="col-md-5 col-md-offset-1">
            <div class="pay-area">
              <div class="text-center">
                <h2 itemprop="name" class="product-name">
                  <%= @product.title %>
                </h2>
                <div style="height:100px;">
                  <p class="tagline">
                    <%= @product.description %>
                  </p>
                </div>
                <div>
                  数量 :
                  <%= @product.quantity %>
                </div>
                <div class="product-price">
                  ￥
                  <%= @product.price %>
                </div>
                <div class="pull-right">
                  <% if @product.quantity.present? && @product.quantity > 0 %>
                  <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
                <% else %>
                  已销售一空，无法购买
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
