<div class="product-page">
  <div class="wrapper background-blue">
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <% if @product.image.present? %>
            <%= image_tag(@product.image.origin.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/720x540&text=No Pic", class: "thumbnail") %>
            <% end %>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <div class="pay-area">
              <div class="text-center">
                <h2 itemprop="name" class="product-name">
                  <%= @product.title %>
                </h2>
                <div style="height:100px;">
                  <p class="tagline">
                    <%= @product.description %>
                  </p>
                </div>
                <div>
                  数量 :
                  <%= @product.quantity %>
                </div>
                <div class="product-price">
                  ￥
                  <%= @product.price %>
                </div>
                <div class="pull-right">
                  <% if @product.quantity.present? && @product.quantity > 0 %>
                  <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
                <% else %>
                  已销售一空，无法购买
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
